
@model List<WebApplication1.Models.HotDog>

@{
    ViewBag.Title = "Index";
}

<h2>Lista HotDogów</h2>

<ul>
    @foreach (var item in Model)
    {
    <li>@Html.ActionLink(item.Name, "EditHotDog", "Home", new { id = item.Id }, "")  @item.Sauce.Name @item.Phone  </li>
    }
</ul>
